.category_items
    display none
    position absolute
    left 60px
    top 10px
    bottom 10px
    padding 5px 9px 5px 4px
    background rgba(0, 0, 0, .6)
    overflow hidden
    
.list_item 
    display block
    margin-bottom 5px
    padding 1px 30px 7px 5px
    color #FFF
    
    &.active
        background: #F2F1F3
        color #0f1110

    span
        display inline-block
        
        &.image
            margin-right 5px